# log level (DEBUG | INFO | WARNING | ERROR | CRITICAL), default: INFO
LOG_LEVEL=WARNING

# llm provider (ollama | openai)
LLM_PROVIDER=openai

# ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:latest

# openai
OPENAI_API_KEY=your-openai-api-key-here
OPENAI_MODEL=gpt-4o-mini

# encrypt
MEMORY_TEXT_ENCRYPTION_KEY=your-memory-text-encryption-key-here

# supabase
SUPABASE_URL=your-supabase-url-here
SUPABASE_SERVICE_KEY=your-supabase-service-key-here
